.category-img{
    border-radius:100%;
    margin-top: 10px;
}

.category-img:hover {
    text-decoration: none;
    color: #000;
}

.category:hover {
    background-color: #dce57a;
    transition: all 0.7s ease;
}


.category-link:hover {
  text-decoration: none;
  color: #000;
}

.category-name {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  height: 60px;
  font-size: 14px;
}

.category-name:hover {
  text-decoration: none;
  color: #000;
}

@media (max-width: 992px) { 
  .category-name {
    font-size: 0.75rem;
  }
}

@media (max-width: 576px) {
  .category-name {
    font-size: 0.6rem;
  }
}