#content{
    padding: 35px;
    font-size: 14px;
    text-align: justify;
}
h1{
    font-size: 150%;
    text-align: center;
    color: #000;
    margin-top: 15px;
    margin-bottom: 55px;
    font-weight: bold;
}

@media (max-width: 576px) {
    #content {
        padding: 10px;
    }
  }